<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dando estilo a tablas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

    <link rel="stylesheet" href="../static/css/tabla.css">
</head>
<body>
<div id="main-container">

    <table id="tabla">
        <thead>
        <tr>
            <th>Código Usuario</th>
            <th>Estatura</th>
            <th>Peso</th>
            <th>IMC</th>
            <th>Clasificación</th>
            <th>Recomendaciones</th>
            <th>Codigo paciente</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function (){
        var table= $('#tabla').DataTable({
            "ajax":{
                "url":"http://localhost:8080/api/v1/informacion",
                "dataSrc":""
            },
            "columns":[
                {data:'paciente'},
                {data:'estatura'},
                {data:'peso'},
                {data: 'imc'},
                {data: 'clasificacion'},
                {data: 'recomendacion'},
                {data: 'cod_paciente'}
            ],rowId:'paciente',
            responsive:true
        });
    })
</script>
</body>
</html>




